<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3.dtd">
    
<mapper namespace="com.oracle.tna.user.dao.usermapper">

	<insert id="insert" parameterType="user">
		insert into user (username,password,name,idnumber,telno,admintype) 
		values(#{username},#{password},#{name},#{idnumber},#{telno},#{admintype})
	</insert>
	
	<select id="select" resultType="user">
		select * from user
	</select>
	
	<select id="selectByid" parameterType="int" resultType="user">
		select * from user where uid=#{uid}
	</select>
	
	<select id="selectByusername" parameterType="String" resultType="user">
		select * from user where username=#{username}
	</select>
	
	<update id="update" parameterType="user">
		update user set password=#{password},name =#{name},idnumber =#{idnumber},telno =#{telno},admintype =#{admintype} 
		where username=#{username}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from user where uid=#{uid}
	</delete>
</mapper>