<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3.dtd">
    
<mapper namespace="com.oracle.tna.user.dao.itemmapper">

	<insert id="insert" parameterType="item">
		insert into item (question,option_a,option_b,option_c,option_d,answer) 
		values(#{question},#{option_a},#{option_b},#{option_c},#{option_d},#{answer})
	</insert>
	
	<select id="select" resultType="item">
		select * from item
	</select>
	
	<select id="selectByid" parameterType="int" resultType="item">
		select * from item where qid=#{qid}
	</select>
	
	<update id="update" parameterType="item">
		update item set question = #{question},option_a=#{option_a},option_b =#{option_b},
		option_c =#{option_c},option_d =#{option_d},answer =#{answer} where qid=#{qid}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from item where qid=#{qid}
	</delete>
</mapper>